{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>

    {% if panier is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in panier %}
                    <tr>
                        <td>{{ item.name }}</td> 
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }} €</td> 
                        <td>{{ item.price * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('panier_remove', {id: item.id}) }}" class="btn btn-danger">Retirer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total :</td>
                    <td>{{ total }} €</td>
                </tr>
            </tfoot>
        </table>
        <a href="{{ path('panier_clear')}}" class="btn btn-danger">Supprimer le panier</a>
    {% endif %}
{% endblock %}
