{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
    <section id="cart" class="text-center">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

        <h1 class="page-title">Votre Panier</h1>
        {% if paniers is empty %}
            <p class="catalog-description">Votre panier est vide.</p>
        {% else %}
            <div class="cart-content">
                {% for item in paniers %}
                    <div class="cart-product">
                        <div class="cart-item" data-price="{{ item.produit.getTTC }}">
                            <div class="product-identification">
                                <a href="{{ path('produit_detail', {'id': item.produit.id}) }}"><img src="/img/{{ item.produit.image }}" alt="{{ item.produit.nomProduit }}" class="cart-image"></a>
                                {{ (item.produit.nomProduit) }} 
                            </div>
                            <div class="product-gestion">
                                <!-- Diminution -->
                                <button data-id="{{ item.produit.id }}" class="bubblegum-link decrease-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                
                                <!-- Quantité Dynamique-->
                                <span id="quantity-{{ item.produit.id }}">{{ item.quantity }}</span>
                                
                                <!-- Augmentation -->
                                <button data-id="{{ item.produit.id }}" class="bubblegum-link increase-btn">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                    
                                <!-- Prix total unitaire -->
                                <span id="line-total-{{ item.produit.id }}"> {{ (item.produit.getTTC * item.quantity)|number_format(2, '.', '')  }} </span> €

                                <form action="{{ path('panier_remove', { id: item.produit.id }) }}" method="post" style="display: inline;">
                                    <button type="submit" class="delete-link hover-rotate"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Montant total -->
            <h3 id="montant-total">Total : {{ montantTotal|number_format(2, ',', ' ') }} €</h3>
                    
            <form action="{{ path('commande_valider') }}" method="post" class="flex-column-center">
                <button type="submit" class="bubblegum-link">
                    Valider le panier
                </button>
            </form>
            <form action="{{ path('panier_clear') }}" method="post">
                <button type="submit" class="delete-link">
                    Supprimer le panier
                </button>
            </form>
        {% endif %}
    </section>
{% endblock %}



