{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section id="login">
    <div class="text-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1 class="page-title">Connectez-vous</h1>
            
        <label for="username" class="security-text">Email :</label>
            
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="flex-column-center" autocomplete="email" required autofocus >
            
        <label for="password" class="security-text">Mot de passe :</label>
            
        <input type="password" name="_password" id="password" class="flex-column-center" autocomplete="current-password" required>
            
        <div class="remember-me">
            <label for="_remember_me">Remember me</label>
            <input type="checkbox" name="_remember_me" id="_remember_me">
        </div>
            
        <button type="submit">Connexion</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
        <p>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a> !</p>     
    </form>
</section>
{% endblock %}
