{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section id="register">
        <h1 class="page-title">Inscrivez-vous</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="flex-column-center">
                <div class="flex-column-center">
                    {{ form_label(registrationForm.nickName, 'Pseudo :') }}
                    {{ form_widget(registrationForm.nickName) }}
                    {{ form_errors(registrationForm.nickName) }}
                </div>
                <div class="flex-column-center">
                    {{ form_label(registrationForm.email, 'Email :') }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                
                <div class="flex-column-center">
                    <div class="flex-column-center">
                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe :') }}
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="flex-column-center">
                        {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe :') }}
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                
                <div class="flex-column-center">
                    <p>
                        En cochant cette case, vous acceptez les <a href="' ~ path('app_legal_user_terms') ~ '" target="_blank" class="no-bg-link"> conditions générales d'utilisation </a> et les <a href="' ~ path('app_legal_sales') ~ '" target="_blank" class="no-bg-link"> conditions générales de vente </a> de Click&Choux.
                    </p>

                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <div class="honeypot">
                    {{ form_label(registrationForm.fax) }}
                    {{ form_row(registrationForm.fax) }}
                    {{ form_errors(registrationForm.fax) }}
                </div>
            <div class="flex-column-center">
                <button type="submit" class="bubblegum-link">
                    S'inscrire
                </button>
            </div>
            </div>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
