{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section id="register">
        <h1 class="page-title">Inscrivez-vous</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="flex-column-center">
                <div class="flex-column-center">
                    {{ form_label(registrationForm.nickName, 'Pseudo :') }}
                    {{ form_widget(registrationForm.nickName) }}
                    {{ form_errors(registrationForm.nickName) }}
                </div>
                <div class="flex-column-center">
                    {{ form_label(registrationForm.email, 'Email :') }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                
                <div class="flex-column-center">
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                
                
                <div class="remember-me">
                    {{ form_label(registrationForm.agreeTerms, 'J\'accepte les termes') }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <div class="honeypot">
                    {{ form_label(registrationForm.fax) }}
                    {{ form_row(registrationForm.fax) }}
                    {{ form_errors(registrationForm.fax) }}
                </div>
            <div class="flex-column-center">
                <button type="submit" class="bubblegum-link">
                    S'inscrire
                </button>
            </div>
            </div>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
