{% for produit in produits %}
    <li>
        <a href="{{ path('produit_detail', {'id': produit.id}) }}">
            <img src="/img/{{ produit.image }}" alt="{{ produit.nomProduit }}" class="catalog-image">
        </a>
        {% if app.user %}
            <button class="favori-btn" data-id="{{ produit.id }}"><i class="fa-solid fa-heart"></i></button>
        {% endif %}
        <a href="{{ path('produit_detail', {'id': produit.id}) }}">
            <h2>{{ produit.nomProduit }}</h2>
        </a>
        <p>{{ produit.getTTC }}€</p>
    </li>
{% endfor %}
