{% extends 'base.html.twig' %}

{% block title %}{{ produit.nomProduit }} - Détails{% endblock %}

{% block body %}
    <div class="details-container">
        <div class="image">
            <img src="/img/{{ produit.image }}" alt="Image de {{ produit.nomProduit }}" class="details-image">
        </div>
        <div class="list-details">
            <div class="details-description">
                <h2 class="details-title">{{ produit.nomProduit }}</h2>
                <p>{{ produit.description }}</p>
            </div>
            
            <p class="details-allergene">Allergènes : {{ produit.allergene }}</p>
            
            <p><span class="details-price">{{ produit.getTTC }}€</span>/ la boite de six</p>
            
    
            <form method="GET" action="{{ path('panier_add', {'id': produit.id}) }}" class="quantity-form">
                <label for="quantite">Quantité :</label>
                <div class="quantity-controls">
                    <button type="button" id="minus-btn"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" name="quantite" id="quantity" value="1" class="quantity-input">
                    <button type="button" id="plus-btn"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button type="submit" class="add-to-cart-button">Ajouter au panier</button>
            </form>
        </div>
    </div>
{% endblock %}