{% extends 'base.html.twig' %}

{% block title %}{{ produit.nomProduit }} - Détails{% endblock %}

{% block body %}
    <section id="product-details">
        <div class="text-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="details-container">
            <div class="details-image">
                <img src="/img/{{ produit.image }}" alt="Image de {{ produit.nomProduit }}" class="details-image" id="image">
                <p style="font-size: 0.60em; text-align:center;" id="text-image">Cliquez pour agrandir <i class="fa-regular fa-square-caret-up"></i></p>
            </div>
            <div class="list-details">
                <div class="details-description">
                    <h2 class="details-title">{{ produit.nomProduit }}</h2>
                    <p>{{ produit.description }}</p>
                </div>
                
                {% for allergene in allergenes %}
                    <li>{{ allergene.nomAllergene }}</li> {# Affichage du nom de chaque allergène #}
                {% else %}
                    <li>Aucun allergène associé.</li>
                {% endfor %}
                <p><span class="details-price">{{ produit.getTTC }}€</span>/ la boite de six</p>
                
                {{ form_start(form) }}
                <div id="quantity-container">
                    {{ form_widget(form.quantity) }}
                    {{ form_widget(form.ajouter) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
 