{% extends 'base.html.twig' %}

{% block title %}{{ produit.nomProduit }} - Détails{% endblock %}

{% block meta_description %}
  <meta name="description" content="Un chou aussi beau que bon : fait maison, livré frais et rapidement. Laissez-vous tenter par cette création artisanale.">
{% endblock %}


{% block body %}
    <section id="product-details"> 
        <div class="details-container">
            {% if produit.isActive == true %}
            <div class="details-image">
                <a href="/img/{{ produit.image }}" data-lightbox="product-image" data-title="{{ produit.nomProduit }}">
                    <img src="/img/{{ produit.image }}" alt="{{ produit.nomProduit }}" class="details-image" id="image" loading="lazy" />
                </a>
            </div>
        {% else %}
            <div class="details-image image-out-stock">
                <img src="/img/{{ produit.image }}" alt="Image de {{ produit.nomProduit }}" class="details-image" id="image" loading="lazy" />
            </div>
        {% endif %}
            <div class="list-details">
                <div class="details-description">
                    <p class="details-title">{{ produit.nomProduit }}</p>
                    {% if produit.isActive == true %}
                        <p><span class="details-price">{{ produit.getTTC }}€</span> / la boite de six</p>
                    {% else %}
                        <p class="product-out-stock">Produit actuellement indisponible</p>
                    {% endif %}
                    <p>{{ produit.description }}</p>
                </div>
                <div class="allergene-details">
                    <p>Liste des allergènes :</p>
                    {% for allergene in allergenes %}
                        <ul>
                            <li>{{ allergene.nomAllergene }}</li>
                        </ul>
                    {% else %}
                        <ul>
                            <li>Aucun allergène associé.</li>
                        </ul>
                    {% endfor %}
                </div>
                {% if produit.isActive == true %}
                {{ form_start(cartForm) }}
                    <div id="quantity-container">
                        <div class="quantity-favoris-btn">
                            <label>{{ form_label(cartForm.quantity) }}</label>
                            {{ form_widget(cartForm.quantity) }}
                            {% if app.user %}
                                <button type="button" class="favori-btn" data-id="{{ produit.id }}" aria-label="Ajouter ce produit aux favoris" title="favoris"><i class="fa-solid fa-heart"></i></button>
                            {% endif %}
                        </div>

                        <button type="submit" class="bubblegum-link" aria-label="Ajouter au panier" title="favoris">Ajouter au panier</button>
                        {{ form_end(cartForm) }}
                    </div>
                    {% else %}
                    {% if app.user %}
                        <button type="button" class="favori-btn" data-id="{{ produit.id }}" aria-label="Ajouter ce produit aux favoris"><i class="fa-solid fa-heart"></i></button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="comment-section">
            <div class="comment-show">
                {% if hasOrdered == true %}
                    <div class="comment-add">
                        {% if app.user %}
                            {{ form_start(commentForm) }}
                                {{ form_row(commentForm.contenu) }}
                                {{ form_row(commentForm.commenter) }}
                            {{ form_end(commentForm) }}
                        {% endif %}
                    </div>
                {% else %}
                <p style="color: #894e3f; font-size: 1.2em; font-weight:700;">Vous devez commander ce produit pour le commenter</p>
                {% endif %}
            {% if commentaires is empty %}
                <p>Aucun commentaire pour ce produit.</p>
            {% else %}
                <ul>
                    {% for commentaire in commentaires %}
                    <li class="comment-item">
                        <div class="comment-content">
                            <p><strong>{{ commentaire.user ? commentaire.user.nickName : 'Utilisateur inconnu' }}</strong> (le {{ commentaire.dateCommentaire |date("d/m/Y H:i") }})</p>
                            <p>{{ commentaire.contenu }}</p>
                            <div class="comment-icons">
                                {% if app.user == commentaire.user %}
                                    <button class="edit-comment-icon" data-comment-id="{{ commentaire.id }}" data-slug="{{ produit.slug }}" aria-label="Modifier"><i class="fa-solid fa-pen" title="Modifier le commentaire"></i></button>
                                {% endif %}
                                {% if app.user == commentaire.user or is_granted('ROLE_ADMIN') %}
                                    <form method="post" action="{{ path('commentaire_supprimer', {id: commentaire.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
                                        <button type="submit" class="supress-comment" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');" aria-label="Supprimer">
                                            <i class="fa-solid fa-trash" title="Supprimer le commentaire"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% if totalCommentaires > 5 %}
                        <a href="{{ path('produit_all_comments', {'slug': produit.slug}) }}">Voir tous les commentaires ( {{ totalCommentaires }} )</a>
                    {% endif %}

                    <!-- Modale de modification -->
                    <div id="editCommentModal" class="modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modifiez votre commentaire</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                </div>
                                <div class="modal-body" id="modalContent">
                                    <!-- Formulaire ICI -->
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
 