{% extends 'base.html.twig' %}

{% block title %}Choux Sucrés{% endblock %}

{% block body %}
    <h2 class="catalog-title">Les Choux Sucrés</h2>
    <p class="catalog-description">Tous nos choux se vendent par lot de six.<br>
        Vous ne trouvez pas votre douceur ? Commandez vos choux sur-mesure 
        en cliquant sur ce <a href="/" class="catalog-link">lien</a>.<br>
        En cas d’allergie, merci de consulter notre page <a href="/" class="catalog-link">dédiée</a>.
    </p>

    <div>
        <form method="GET" action="{{ path('sweety_produit') }}" class="searchbar">
            <input type="text" name="query" placeholder="Rechercher un produit..." value="{{ query }}" class="search-input">
            <div class="search-button-container">
                <button type="submit" class="search-button">Rechercher</button>
                {% if query %}
                    <a class="search-button" href="{{ path('sweety_produit') }}">Réinitialiser</a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="choux-grid-container">
        <ul class="choux-grid">
            {% for produit in produits %}
                <li>
                    <a href="{{ path('produit_detail', {'id': produit.id}) }}"><img src="/img/{{ produit.image }}" alt="{{ produit.nomProduit }}" class="catalog-image"></a><button class="favori-btn" data-id="{{ produit.id }}"><i class="fa-solid fa-heart"></i></button></span>
                    <a href="{{ path('produit_detail', {'id': produit.id}) }}"><h2>{{ produit.nomProduit }}</h2></a>
                    <p class="catalog-price">{{ produit.getTTC }}€</p>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}