{% extends 'base.html.twig' %}

{% block title %}Choux Sucrés{% endblock %}

{% block body %}
    <section id="catalog-sweety">
        <div data-category="sweety">
            <div class="text-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="catalog-page">
                <h2 class="page-title">Les Choux Sucrés</h2>
                <p class="catalog-description">Tous nos choux se vendent par lot de six.<br>
                    Vous ne trouvez pas votre douceur ? Commandez vos choux sur-mesure 
                    en cliquant sur ce <a href="/" class="catalog-link">lien</a>.<br>
                    En cas d’allergie, merci de consulter notre page <a href="/" class="catalog-link">dédiée</a>.
                </p>

                <!-- Live Search Bar -->
                <div>
                    <input type="text" id="search-bar" class="search-input" placeholder="Rechercher un produit..." value="{{ query }}">
                </div>
      
                <div class="catalog-container">
                    <div id="sidePanel" class="side-panel">
                        <div class="allergene-filter">
                            {{ form_start(form) }}
                            
                            {% for item in form.allergenes %}
                                <div class="filter-item">
                                    {{ form_row(item) }}
                                </div>
                            {% endfor %}
                            <div class="flex-column-center">
                                {{ form_widget(form.filtrer) }}
                            </div>
                            <a href="{{ path('sweety_produit') }}">Réinitialiser</a>
                            {{ form_end(form) }}
                        </div>
                    </div>
    
                {% if produits is empty %}
                <div class="align-self-center">
                    <p>Aucun produit proposé pour l'instant</p>
                </div>
                {% else %}
                <div class="flex-column-center">          <!-- Filter SidePanel -->
                    <button id="toggleFilterPanelBtn" class="side-panel-btn">
                        <i class="fa-solid fa-sliders"></i> Filtres
                    </button>
                </div> 
                <div class="choux-grid-container">
                    <ul class="choux-grid" id="produits-list">
                        {% for produit in produits %}
                        <li>
                            <a href="{{ path('produit_detail', {'slug': produit.slug} ) }}">
                                <img src="/img/{{ produit.image }}" alt="{{ produit.nomProduit }}" class="catalog-image">
                            </a>
                            <div class="title-price">
                                <div class="details">
                                    <a href="{{ path('produit_detail', {'slug': produit.slug}) }}">
                                        <h2>{{ produit.nomProduit }}</h2>
                                    </a>
                                    <p class="price">{{ produit.getTTC|number_format(2, ',', ' ') }}€</p>
                                </div>
                                {% if app.user %}
                                    <button class="favori-btn" data-id="{{ produit.id }}"><i class="fa-solid fa-heart"></i></button>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </section>
{% endblock %}