{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <section id="admin-add-product">
        <h2 class="page-title">Ajouter un Produit</h2>
        {{ form_start(form) }}
        <div class="flex-column-center">
            <div class="flex-row-center">
                <div class="flex-column-center">
                    <label>{{ form_label(form.nomProduit) }}</label>
                    {{ form_widget(form.nomProduit) }}
                    {{ form_errors(form.nomProduit) }}

                    <label>{{ form_label(form.prixHt) }}</label>
                    {{ form_widget(form.prixHt) }}
                    {{ form_errors(form.prixHt) }}

                    <label>{{ form_label(form.TVA) }}</label>
                    {{ form_widget(form.TVA) }}
                    {{ form_errors(form.TVA) }}

                    <label>{{ form_label(form.image) }}</label>
                    {{ form_widget(form.image)}}
                    {{ form_errors(form.image) }}
                </div>
                <div class="flex-column-center">
                    <label>{{ form_label(form.description) }}</label>
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}

                    <label>{{ form_label(form.categorie) }}</label>
                    {{ form_widget(form.categorie) }}
                    {{ form_errors(form.categorie) }}
                </div>
            </div>
            <label>{{ form_label(form.allergenes) }}</label>
            <p class="hidden-text fs-6">Gardez la touche CTRL (CMD sur mac) enfoncée pour sélectionner plusieurs allergènes</p>
            {{ form_widget(form.allergenes) }}
            {{ form_errors(form.allergenes) }}
            <button type="submit" class="bubblegum-link">
                Ajouter le produit
            </button>
            {{ form_end(form) }}
        </div>
        <div class="flex-column-center">
            <a class="no-bg-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
        </div>
    </section>
{% endblock %}