{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <section id="admin-delete-product">
    <h2 class="page-title">Supprimer un ou plusieurs Produit(s)</h2>
        
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        <div class="grid-delete-container">
        {% for item in form.produits %}
            <div class="checkbox-item">
                {{ form_row(item) }}
            </div>
        {% endfor %}
        </div> 

        <div class="flex-column-center">
            <button type="submit" class="delete-link hover-rotate"><i class="fa-solid fa-trash"></i></button>
            {{ form_end(form) }}
            <a class="bubblegum-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
        </div>
    </section>
{% endblock %}
