{% extends 'base.html.twig' %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
    <h2 class="page-title">Gestion des Produits</h2>

    <a href="{{ path('admin_add_product') }}" class="bubblegum-link"><i class="fa-solid fa-plus"></i></a>

    <table class="dataTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nomProduit }}</td>
                    <td>{{ produit.getTTC }}€</td>
                    <td>
                        {% if produit.isActive == true %}
                            <a href="{{ path('admin_update_stock', {slug: produit.slug}) }}" class="btn btn-sm"><i class="fa-solid fa-eye"></i></a>
                        {% elseif produit.isActive == false %}
                            <a href="{{ path('admin_update_stock', {slug: produit.slug}) }}" class="btn btn-sm"><i class="fa-solid fa-eye-slash"></i></a>
                        {% endif %}
                        <a href="{{ path('admin_update_product', {slug: produit.slug}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{{ path('admin_delete_product', {slug: produit.slug}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Aucun produit trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
