{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="text-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="profile-container">
        <h2 class="details-title">Panneau Administrateur</h2>
        <div class="profile-info">
            <p>Bonjour, cheffe {{ user.nickName }} !</p>
            <p>Email Admin : {{ user.email }}</p>
        </div>
        <a href="{{ path('admin_list_user') }}" class="profile-link">Liste des utilisateurs</a>
        <a href="{{ path('admin_list_commandes') }}" class="profile-link">Liste des Commandes</a>
        <a href="{{ path('admin_add_product') }}" class="profile-link">Ajouter un produit</a>
    </div>
{% endblock %}
 