{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h2 class="login-title text-center p-5">Liste des Commandes :</h2>
    {% if commandes is empty %}
        <p>Aucune commande passée pour le moment.</p>
    {% else %}
        <table class="table" id="commandesTable"  style="width: 70%;">
            <thead>
                <tr>
                    <th>N° Commande</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Montant Total</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.reference }}</td>
                        {% if commande.user %}
                            <td>{{ commande.user.nickName }}</td>
                        {% else %}
                            <td>Client anonymisé suite suppression de compte</td>
                        {% endif %}
                        <td>{{ commande.dateCommande|date('d/m/Y H:i') }}</td>
                        <td>{{ commande.montantTotal }}€</td>
                        <td>
                        {% if commande.statut == 'confirmée' %}
                            <span class="badge bg-success">Confirmée</span>
                        {% else %}
                            <span class="badge bg-warning">{{ commande.statut }}</span>
                        {% endif %}
                        </td>
                        <td><a href="{{ path('commande_detail', { id: commande.id }) }}" class="profile-link">Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center p-3">
            <a class="profile-link" href="{{ path('admin_profile') }}">Retour</a>
        </div>
    {% endif %}
{% endblock %}
 