{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <section id="admin-user-order">
        <h2 class="page-title">Commande de {{ user.nickName }} :</h2>
        {% if commandes is empty %}
            <p>Aucune commande passée pour le moment.</p>
            <div class="flex-column-center">
                <a class="no-bg-link" href="{{ path('admin_list_user') }}">Retour</a>
            </div>
        {% else %}
            <table class="dataTable">
                <thead>
                    <tr>
                        <th>N° Commande</th>
                        <th>Date de commande</th>
                        <th>Date de paiement</th>
                        <th>Date de livraison</th>
                        <th>Montant Total</th>
                        <th>Statut de la commande</th>
                        <th>Statut du paiement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.reference }}</td>
                            <!-- Cellules de dates forcant datatable à gérer des dates et pas des strings -->
                            <td data-order="{{ commande.dateCommande|date('Y-m-d H:i:s') }}">
                                {{ commande.dateCommande|date('d/m/Y H:i') }}
                            </td>
                            
                            <td data-order="{{ commande.datePaiement|date('Y-m-d H:i:s') }}">
                                {{ commande.datePaiement|date('d/m/Y H:i') }}
                            </td>
                            
                            <td data-order="{{ commande.dateLivraison|date('Y-m-d H:i:s') }}">
                                {{ commande.dateLivraison|date('d/m/Y H:i') }}
                            </td>
                            <td>{{ commande.montantTotal }}€</td>
                            <td>
                                {% if commande.statut == 'Livrée' %}
                                    <span class="badge bg-success">{{ commande.statut }}</span>
                                {% elseif commande.statut == 'En livraison'  %}
                                    <span class="badge bg-warning" style="color: white;">{{ commande.statut }}</span>
                                {% else %}
                                    <span class="badge bg-danger" style="color: white;">{{ commande.statut }}</span>
                                {% endif %}
                            </td>
                            <td>
                            {% if commande.statutPaiement == 'payé' %}
                                <span class="badge bg-success">Payée</span>
                            {% else %}
                                <span class="badge bg-alert">{{ commande.statutPaiement }}</span>
                            {% endif %}
                            </td>
                            <td><a href="{{ path('commande_detail', { 'slug': commande.slug }) }}" class="bubblegum-link">Voir</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="flex-column-center">
                <a class="no-bg-link" href="{{ path('admin_list_user') }}">Retour</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
 