{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<section id="admin-edit-profile"></section>
    <div class="profile-container">
        <h2 class="details-title">Modifier mon profil</h2>
            {{ form_start(formProfile) }}
                {{ form_row(formProfile.nickName) }}
                {{ form_row(formProfile.email) }}
                <div class="flex-column-center">
                    {{ form_row(formProfile.save) }}
                </div>
            {{ form_end(formProfile) }}
            <a class="no-bg-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
    </div>
{% endblock %}
 