{% extends 'base.html.twig' %}

{% block title %}Edition du mot de passe{% endblock %}

{% block body %}
    <div class="text-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="profile-container">
        <h2 class="details-title">Changer mon mot de passe</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {{ form_start(formPassword) }}
            {{ form_row(formPassword.oldPassword) }}
            {{ form_row(formPassword.plainPassword) }}
            <div class="form-group">
                {{ form_row(formPassword.save) }}
            </div>
        {{ form_end(formPassword) }}
        <a class="profile-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
    </div>
{% endblock %}
  