{% extends 'base.html.twig' %}

{% block title %}Edition du mot de passe{% endblock %}

{% block body %}
    <section id="admin-edit-password">
        <div class="flex-column-center">
            <h2 class="details-title">Changer mon mot de passe</h2>
            {{ form_start(formPassword) }}
                {{ form_row(formPassword.oldPassword) }}
                {{ form_row(formPassword.plainPassword) }}
                <div class="flex-column-center">
                    {{ form_row(formPassword.save) }}
                </div>
            {{ form_end(formPassword) }}
            <a class="bubblegum-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
        </div>
    </section>
{% endblock %}
  