{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <section id="admin-user-list">
        <h2 class="page-title">Liste des utilisateurs</h2>
        <table class="dataTable">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.nickName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                    <div class="dropdown">
                        <button class="btn btn-sm m-2" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-square-caret-down" style="color: #FFA85C"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item no-bg-link" href="{{ path('admin_user_commandes', { id: user.id }) }}"><i class="fa-solid fa-eye" style="color: #FFA85C"></i> Voir les commandes</a> </li>
                            <li><a class="dropdown-item no-bg-link" href="{{ path('admin_user_edit_profile', { id: user.id }) }}"><i class="fa-solid fa-pen-to-square" style="color: #FFA85C"></i> Edit. données personnelles</a></li>
                            <li>
                                <form class="dropdown-item" method="post" action="{{ path('admin_supprimer_utilisateur', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('supprimer_utilisateur' ~ user.id) }}">
                                    <button type="submit" class="no-bg-delete-link">
                                        <i class="fa-solid fa-trash" style="color: red;"></i> <strong>Suppr. utilisateur</strong>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="flex-column-center">
            <a class="no-bg-link" href="{{ path('admin_profile') }}">Retour au panneau administrateur</a>
        </div>
    </section>
{% endblock %}
 