{% extends 'base.html.twig' %}

{% block title %}Commande Confirmée{% endblock %}

{% block body %}
    <section id="order-confirmed" class="text-center">
        <h2 class="page-title">Commande Validée</h1>
        <p>Félicitation, votre commande a été validée !</p>
        <p>Référence de votre commande : {{ commande.reference }} </p>
        <p>Date : {{ commande.dateCommande|date('d/m/Y H:i') }}</p>
        <p>Date de livraison estimée : {{ commande.dateLivraison|date('d/m/Y') }}</p>
        <h3 class="page-title">Total : {{ commande.montantTotal }}€</h3>
        
        <h2 class="page-title">Détails de la commande :</h2>
        <div class="commande-list">
            {% for panier in commande.paniers %}
                <div class="commande-product">
                    <a href="{{ path('produit_detail', {'id': panier.produit.id}) }}"><img src="/img/{{ panier.produit.image }}" alt="{{ panier.produit.nomProduit }}" class="commande-image"></a>
                    <a href="{{ path('produit_detail', {'id': panier.produit.id}) }}"><h3>{{ panier.produit.nomProduit }}</h3></a>
                    <p>Quantité : <strong>{{ panier.quantity }}</strong></p>
                    <p>Prix total : <strong>{{ panier.getTotalTTC()|number_format(2, ',', ' ') }} €</strong></p>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('app_user_profil') }}" class="bubblegum-link">Voir mes commandes</a>
    </section>
{% endblock %}
