{% extends 'base.html.twig' %}

{% block title %}Commande Confirmée{% endblock %}

{% block body %}
    <div class="flex-column-center">
    <h2 class="page-title">Commande Validée</h1>
    <p>Félicitation, votre commande a été validée !</p>
    <p>Vous pouvez retrouver votre commande dans votre espace personnel</p>
    <p>Référence de votre commande : {{ commande.reference }} </p>
    <p>Date : {{ commande.dateCommande|date('d/m/Y H:i') }}</p>

    <h2>Détails de la commande :</h2>
    <ul>
        {% for panier in commande.paniers %}
            <li>{{ panier.produit.nomProduit }} - {{ panier.quantity }} x {{ panier.produit.getTTC }}€ : {{ panier.getTotalTTC }}€</li>
        {% endfor %}
    </ul>

    <p><strong>Total :</strong> {{ commande.montantTotal }}€</p>

    <a href="{{ path('app_user_profil') }}" class="validate-button">Voir mes commandes</a>
    </div>
{% endblock %}
