{% extends 'base.html.twig' %}

{% block title %}Commande Confirmée{% endblock %}

{% block body %}
    <div class="product-info">
    <h2 class="login-title">Merci pour votre commande !</h1>
    <p>Votre command a été confirmée.</p>
    <p>Référence de votre commande : {{ commande.reference }} </p>
    <p>Date : {{ commande.dateCommande|date('d/m/Y H:i') }}</p>

    <h2>Détails de la commande :</h2>
    <ul>
        {% for panier in commande.paniers %}
            <li>{{ panier.produit.nomProduit }} - {{ panier.quantity }} x {{ panier.produit.getTTC }}€ : {{ panier.getTotalTTC }}€</li>
        {% endfor %}
    </ul>

    <p><strong>Total :</strong> {{ commande.montantTotal }}€</p>

    <a href="{{ path('app_user_profil') }}" class="add-to-cart-button">Voir mes commandes</a>
    </div>
{% endblock %}
