{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section id="contact-form">
        <h2 class="page-title">Contactez-nous</h2>
        
        <p>
            Vous êtes un particulier ou une entreprise et avez un évènement en préparation ?<br> 
            Nous sommes là pour vous accompagner. <br>
            Il vous suffit de remplir ce formulaire, nous prendrons contact avec vous
            pour, par la suite, créer une douceur parfaitement adaptées à vos besoins et à vos envies.
        </p>
        
        {{ form_start(form) }}

        <div class="flex-row-center">
            <div class="flex-column-center">
                <label>{{ form_label(form.email) }}</label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="flex-column-center">
                <label>{{ form_label(form.telephone) }}</label>
                {{ form_widget(form.telephone) }}
                {{ form_errors(form.telephone) }}
            </div>
        </div>

        <div class="flex-row-center">
            <div class="flex-column-center">
                <label>{{ form_label(form.message) }}</label>
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
        </div>

        <div class="flex-row-center">
                <label>{{ form_label(form.consent) }}</label>
                {{ form_widget(form.consent) }}
                {{ form_errors(form.consent) }}
        </div>
        <div class="honeypot">
                <label>{{ form_label(form.fax) }}</label>
                {{ form_widget(form.fax) }}
                {{ form_errors(form.fax) }}
        </div>
        <div class="flex-column-center">
            <button type="submit" class="bubblegum-link">
                Valider
            </button>
        {{ form_end(form) }}
        </div>
        <div class="flex-column-center">
            <a class="bubblegum-link" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
        </div>
    </section>
{% endblock %}
