<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="{{ asset('tarteaucitron/tarteaucitron.min.js') }}"></script>
        <script>
            tarteaucitron.init({
                "privacyUrl": "", /* Url de la politique de confidentialité */
                "bodyPosition": "top", /* position du bandeau */
                "hashtag": "#tarteaucitron", /* Hashtag pour ouvrir le panneau */
                "cookieName": "tarteaucitron", /* Nom du cookie */
                "orientation": "middle", /* Position de la bannière (top, bottom, popup, banner) */
                "groupServices": true, /* Grouper les services */
                "showDetailsOnClick": true, /* Cliquer pour afficher les détails */
                "serviceDefaultState": "wait", /* Statut par défaut des services */
                "showAlertSmall": false, /* Pas de petite bannière en bas à droite */
                "cookieslist": true, /* Pas de liste des cookies */
                "closePopup": true, /* X pour fermer le popup */
                "showIcon": true, /* Afficher l'icône pour ouvrir le panneau */
                "iconPosition": "BottomRight", /* Position de l'icône */
                "adblocker": false, /* Message si un Adblocker est détecté */
                "DenyAllCta": true, /* Bouton "Tout refuser" */
                "AcceptAllCta": true, /* Bouton "Tout accepter" */
                "highPrivacy": true, /* Attente du consentement */
                "alwaysNeedConsent": false, /* Demander le consentement pour les services "Privacy by design" */
                "handleBrowserDNTRequest": false, /* Respecter Do Not Track */
                "removeCredit": false, /* Ne pas retirer le crédit vers tarteaucitron.io */
                "moreInfoLink": true, /* Lien "En savoir plus" */
                "useExternalCss": false, /* Ne pas utiliser de CSS externe */
                "useExternalJs": false, /* Ne pas utiliser de JS externe */
                "mandatory": true, /* Afficher les cookies obligatoires */
                "mandatoryCta": false, /* Ne pas afficher de bouton pour cookies obligatoires */
                "googleConsentMode": true, /* Activer le Google Consent Mode */
                "bingConsentMode": true, /* Activer le Bing Consent Mode */
                "softConsentMode": false, /* Pas de soft consent */
                "dataLayer": false, /* Ne pas envoyer d'événements dans dataLayer */
                "serverSide": false, /* Pas de traitement côté serveur */
                "partnersList": true, /* Afficher la liste des partenaires */
            });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block meta_description %}
            <meta name="description" content="Click&Choux - des choux artisanaux sucrés et salés, faits maison et livrés rapidement.">
        {% endblock %}
      {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
            <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg">
            <link rel="shortcut icon" href="/favicon.ico">
            <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
            <link rel="manifest" href="/site.webmanifest">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.4/css/responsive.dataTables.min.css" />
            <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
        {% endblock %}
        
    </head>
    <body style="background-color: #FFFFFF">
        <div id="wrapper">
        <header>
            <nav>
                <div class="burger-user">
                    <a href="{{ path('panier_afficher') }}" class="position-relative" aria-label="Accès au panier">
                        <i class="fa-solid fa-shopping-cart"></i>
                        {% if quantity > 0 %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill cart-badge" id="navbar-cart-quantity">
                                {{ quantity }}
                            </span>
                        {% endif %}
                    </a>
                    
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu de connexion">
                            <i class="fa-solid fa-user" style="color: {% if app.user %}#38B000{% else %}#9D0208{% endif %};"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin_profile') }}">
                                    <i class="fa-solid fa-kitchen-set"></i> Administrateur</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                                    <i class="fa-solid fa-power-off"></i> Se déconnecter
                                </a></li>
                                {% else %} 
                                <li>
                                    <a class="dropdown-item" style="color: #55211A;" href="{{ path('app_user_profil') }}">
                                    <i class="fa-solid fa-id-card-clip"></i> Mon profil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                                    <i class="fa-solid fa-power-off"></i> Se déconnecter</a>    
                                </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_login') }}">
                                    <i class="fa-solid fa-sign-in-alt"></i> Se connecter</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_register') }}">
                                    <i class="fa-solid fa-user-plus"></i> S'inscrire</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="navbar-container">
                    <div class="navbar-logo">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logobis.webp') }}" alt="ClickAndChoux" class="logo" loading="lazy"></a>
                        <a href="{{ path('app_home') }}" class="navbar-title"><h1>Click&Choux</h1></a>
                    </div>
                    <ul class="navbar-list" id="navbar-list">
                        <li><a href="{{ path('salty_produit') }}" class="menu-item">Choux Salés</a></li>
                        <li class="vert-bar">|</li>
                        <li class="horizontal-bar">-</li>
                        <li><a href="{{ path('sweety_produit') }}" class="menu-item">Choux Sucrés</a></li>
                        <li class="vert-bar">|</li>
                        <li class="horizontal-bar">-</li>
                        <li><a href="{{ path('app_contact') }}" class="menu-item">Contactez-nous</a></li>
                        <li class="vert-bar">|</li>
                        <li class="horizontal-bar">-</li>
                        <li><a href="{{ path('app_faq') }}" class="menu-item">F.A.Q</a></li>
                    </ul>
                        <button class="burger" id="burger-button" aria-label="Menu">
                            <i class="fa-solid fa-bars" id="burger-icon"></i>
                        </button>
                </div>
                <div class="text-center">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}  
                </div>
            </nav>
        </header>
        <main class="flex-column-sb">
            {% block body %}
            {% endblock %} 
        </main>
        <div class="informations-banner">
            <div class="biological-product"> 
                <i class="fa-solid fa-leaf" style="color: #82A776;"></i>
                <p>Produits Biologiques et éthiques</p>
            </div>
            <div class="payments">
                <i class="fa-solid fa-credit-card" style="color: #5D98E9;"></i>
                <p>Paiement sécurisés avec Visa, Mastercard, Amex</p>
            </div>
            <div class="delivery">
                <i class="fa-solid fa-truck-fast" style="color: #ffcc80;"></i>
                <p>Livraison réfrigérée à domicile</p>
            </div>
            <div class="order-reception">
                <i class="fa-solid fa-bag-shopping" style="color: #894e3f;"></i>
                <p>Réception sous 24h/48h</p>
            </div>
        </div>
        <div class="newsletter-container">
            <div class="newsletter-description">
                <h4>On reste en contact ?</h4><br>
                <p><strong>Abonnez-vous à notre newsletter pour vous tenir informés de nos dernières nouveautés !</strong></p>
            </div>
            {{ render(controller('App\\Controller\\NewsletterController::newsletterForm')) }}
        </div>
        <footer class="footer" role="contentinfo">
            <div class="footer-top">
                <div class="footer-links">
                    <p class="fw-bold">Informations légales</p>
                    <ul>
                        <li><a href="">Conditions générales de vente</a></li>
                        <li><a href="">Conditions générales d'utilisation</a></li>
                        <li><a href="">Politique de confidentialité</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <p class="fw-bold">En savoir plus</p>
                    <ul>
                        <li><a href="">F.A.Q.</a></li>
                        <li><a href="">Qui sommes-nous ?</a></li>
                        <li><a href="">Nos partenaires</a></li>
                        <li><a href="">Liste des allergènes</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <p class="fw-bold">Catalogues</p>
                    <ul>
                        <li><a href="{{ path('sweety_produit') }}">Choux sucrés</a></li>
                        <li><a href="{{ path('salty_produit') }}">Choux salés</a></li>
                        <li><a href="{{ path('app_contact') }}">Demande de devis</a></li>
                    </ul>
                </div>
            </div>
            <hr class="footer-break"> <!-- hr : ligne horizontale -->
            <div class="footer-bottom">
                <div class="footer-scroll">
                    <button class="scrollTopButton" id="retour-haut" aria-label="Scroll to top">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </button>
                </div>
                <div class="footer-social">
                    <div class="social-icons" role="navigation" aria-labelledby="social-heading">
                        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js" ></script>        
        <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js" ></script>        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="{{ asset('js/script.js') }}" ></script>
    {% endblock %}
    </body>
</html>