{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
    <section id="user-order-list">
            <h2 class="page-title text-center p-4">Mes Commandes</h2>

            {% if commandes is empty %}
                <p>Aucune commande passée pour le moment.</p>
            {% else %}
                <table class="dataTable">
                    <thead>
                        <tr>
                            <th>N° Commande</th>
                            <th>Date</th>
                            <th>Montant Total</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>{{ commande.reference }}</td>
                                <td>{{ commande.dateCommande|date('d/m/Y H:i') }}</td>
                                <td>{{ commande.montantTotal }}€</td>
                                <td>
                                    {% if commande.statut == 'Livrée' %}
                                        <span class="badge bg-success">Livrée</span>
                                    {% elseif commande.statut == 'En livraison' %}
                                        <span class="badge bg-warning">En livraison</span>
                                    {% else %}
                                        <span class="badge bg-danger">En préparation</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('commande_detail', { slug: commande.slug }) }}" class="bubblegum-link">
                                        Voir
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center p-3">
                <a href="{{ path('app_user_profil') }}" class="no-bg-link">Retour au Profil</a>
            </div>
    </section>
{% endblock %}
