{% extends 'base.html.twig' %}

{% block body %}
    <section id="delete-account">
        <div class="text-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <h2 class="page-title">Supprimer mon compte</h2>
        <p>Attention, cette action est irréversible.</p>
        <p>Veuillez confirmer votre mot de passe.</p>
            
        {{ form_start(formDelete) }}
            {{ form_row(formDelete.password) }}

            <button type="submit" class="delete-link hover-rotate">
                <i class="fa-solid fa-trash"></i>
            </button>
        {{ form_end(formDelete) }}

        <a href="{{ path('app_user_profil') }}" class="bubblegum-link">Retour à votre profil</a>
    </section>
{% endblock %}