{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <section id="profile">
        <div class="text-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <h2 class="page-title">Profil</h2>
            <p>Email : {{ user.email }}</p>
        <div class="flex-row-center">
            <a href="{{ path('app_update_profile') }}" class="bubblegum-link">Modifier mes informations</a>
            <a href="{{ path('app_update_password') }}" class="bubblegum-link">Modifier mon mot de passe</a>
        </div>
        <div class="flex-row-center">
            <a href="{{ path('app_user_commandes') }}" class="bubblegum-link">Mes Commandes</a>
            <a href="{{ path('favoris_page') }}" class="bubblegum-link">Mes Favoris</a>
        </div>
        <a href="{{ path('app_profile_delete') }}" class="delete-link">Supprimer mon compte</a>
    </section>
{% endblock %}
 