{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <section id="update-profile">
        <h2 class="page-title">Modifier mon profil</h2>
        {{ form_start(formProfile) }}
            <div class="flex-column-center">
                {{ form_label(formProfile.nickName) }}
                {{ form_widget(formProfile.nickName) }}
            </div>
            <div class="flex-column-center">
                {{ form_label(formProfile.email) }}
                {{ form_widget(formProfile.email) }}
            </div>
            <div class="flex-column-center">
                {{ form_row(formProfile.save) }}
            </div>
        {{ form_end(formProfile) }}
        <a class="no-bg-link" href="{{path('app_user_profil')}}">Retour au profil</a>
    </section>
{% endblock %}
 