{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <section id="update-password">
        <h2 class="page-title">Changer mon mot de passe</h2>
        {{ form_start(formPassword) }}
            <div class="flex-column-center">
                {{ form_label(formPassword.oldPassword) }}
                {{ form_widget(formPassword.oldPassword) }}
            </div>
            <div class="flex-column-center">
                {{ form_label(formPassword.plainPassword.first, 'Mot de passe :') }}
                {{ form_widget(formPassword.plainPassword.first) }}
                {{ form_errors(formPassword.plainPassword.first) }}
            </div>
            <div class="flex-column-center">
                {{ form_label(formPassword.plainPassword.second, 'Confirmer le mot de passe :') }}
                {{ form_widget(formPassword.plainPassword.second) }}
                {{ form_errors(formPassword.plainPassword.second) }}
            </div>
            <div class="flex-column-center">
                {{ form_row(formPassword.save) }}
            </div>
        {{ form_end(formPassword) }}
        <a class="no-bg-link" href="{{path('app_user_profil')}}">Retour au profil</a>
    </section>
{% endblock %}
  