{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="profile-container">
    <h2 class="details-title">Changer mon mot de passe</h2>
    <a class="update-button" href="{{path('app_user_profil')}}">Retour au profil</a>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {{ form_start(formPassword) }}
        {{ form_row(formPassword.oldPassword) }}
        {{ form_row(formPassword.plainPassword) }}
        <div class="form-group">
            {{ form_row(formPassword.save) }}
        </div>
    {{ form_end(formPassword) }}
</div>
{% endblock %}
 