{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <section id="update-password">
        <h2 class="page-title">Changer mon mot de passe</h2>
        {{ form_start(formPassword) }}
            {{ form_row(formPassword.oldPassword) }}
            {{ form_row(formPassword.plainPassword) }}
            <div class="flex-column-center">
                {{ form_row(formPassword.save) }}
            </div>
        {{ form_end(formPassword) }}
        <a class="bubblegum-link" href="{{path('app_user_profil')}}">Retour au profil</a>
    </section>
{% endblock %}
  