{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <section id="fav-list">
            <h2 class="page-title">Mes favoris</h2>
            <div class="catalog-container">
            <div class="choux-grid-container">
                <ul class="choux-grid">
                    {% for favori in favoris %}
                        {% set produit = favori.produit %}
                        <li class="{{ produit.isActive ? 'catalog-in-stock' : 'catalog-out-stock' }}">
                            <a href="{{ path('produit_detail', {'slug': produit.slug}) }}">
                                <img src="/img/{{ produit.image }}" alt="{{ produit.nomProduit }}" class="catalog-image" loading="lazy">
                            </a>
                            <div class="title-price">
                                <div class="details">
                                    <a href="{{ path('produit_detail', {'slug': produit.slug}) }}">
                                        <h2>{{ produit.nomProduit }}</h2>
                                    </a>
                                    {% if produit.isActive %}
                                        <p class="price">{{ produit.getTTC|number_format(2, ',', ' ') }}€</p>
                                    {% else %}
                                        <p>Rupture de stock</p>
                                    {% endif %}
                                </div>
                                <div class="clickable-icon">
                                    <button class="favori-btn" data-id="{{ produit.id }}" aria-label="Retirer des favoris">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="flex-column-center">
            <a class="no-bg-link" href="{{ path('app_user_profil') }}"> Retour au profil</a>
        </div>
    </section>
{% endblock %}
